<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg float-right mb-3" routerLink="/addproduct">Add food product</button>
            <h2 class="mt-4 mb-3">Products List</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Food Items</th>
                            <th scope="col">Image</th>
                            <th scope="col">Actions</th>
                            <th scope="col">Description</th>
                            <th scope="col">Food Items</th>
                            <th scope="col">Image</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                 

                        <tr >
                            <td>1</td>
                            <td>Pizza</td>
                            <td>2DT</td>
                            <td>23DT</td>
                            <td>delicieuse</td>
                            <td>pizza</td>
                            <td>food</td>
                            <td>gruyere, slice , escalope</td>
                            <td>mozzarella , sauce tomate, thon</td>
                            <td>gluten</td>
                            <td><img [src]="" alt="" style="width: 30px; height: 30px; margin-right: 10px;"></td>
                            <td> 
                                <button routerLink="">EDIT</button>
                            </td>
                        </tr>
                        
                        <tr >
                            <td>1</td>
                            <td>Pizza</td>
                            <td>2DT</td>
                            <td>23DT</td>
                            <td>delicieuse</td>
                            <td>pizza</td>
                            <td>food</td>
                            <td>gruyere, slice , escalope</td>
                            <td>mozzarella , sauce tomate, thon</td>
                            <td>gluten</td>
                        
                            <td><img [src]="" alt="" style="width: 30px; height: 30px; margin-right: 10px;"></td>
                            <td> 
                                <button routerLink="">EDIT</button>
                            </td>
                        </tr>
                        <tr >
                            <td>1</td>
                            <td>Pizza</td>
                            <td>2DT</td>
                            <td>23DT</td>
                            <td>delicieuse</td>
                            <td>pizza</td>
                            <td>food</td>
                            <td>gruyere, slice , escalope</td>
                            <td>mozzarella , sauce tomate, thon</td>
                            <td>gluten</td>
                        
                            <td><img [src]="" alt="" style="width: 30px; height: 30px; margin-right: 10px;"></td>
                            <td> 
                                <button routerLink="">EDIT</button>
                            </td>
                        </tr>
                        
                        <tr >
                            <td>1</td>
                            <td>Pizza</td>
                            <td>2DT</td>
                            <td>23DT</td>
                            <td>delicieuse</td>
                            <td>pizza</td>
                            <td>food</td>
                            <td>gruyere, slice , escalope</td>
                            <td>mozzarella , sauce tomate, thon</td>
                            <td>gluten</td>
                        
                            <td><img [src]="" alt="" style="width: 30px; height: 30px; margin-right: 10px;"></td>
                            <td> 
                                <button routerLink="">EDIT</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

                        