<section id="sidebar" [ngClass]="status ? 'hide' : ''">
    <a routerLink="/" class="brand">
      <i class='bx bx-smile bx-sm bx-blue'></i>
      <span class="text">LE PARISIEN</span>
    </a>
    <ul class="side-menu top">
      <li class="active">
        <a routerLink="">
          <i class='bx bx-home bx-sm bx-blue'></i>
          <span class="text">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/add">
          <i class='bx bx-plus-circle bx-sm bx-blue'></i>
          <span class="text">Add A Collection</span>
        </a>
      </li>
      <li>
        <a routerLink="/categorie">
          <i class='bx bx-category bx-sm bx-blue'></i>
          <span class="text">List Of Category</span>
        </a>
      </li>
      <li>
        <a routerLink="">
          <i class='bx bx-user-check bx-sm bx-blue'></i>
          <span class="text">Manage Admins</span>
        </a>
      </li>
      <li>
        <a routerLink="/foodproducts">
          <i class='bx bx-food-menu bx-sm bx-blue'></i>
          <span class="text">List Of Food Items</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu">
      <li>
        <a routerLink="">
          <i class='bx bx-cog bx-sm bx-blue'></i>
          <span class="text">Settings</span>
        </a>
      </li>
      <li>
        <a routerLink="" class="logout">
          <i class='bx bx-log-out bx-sm bx-blue'></i>
          <span class="text">Déconnexion</span>
        </a>
      </li>
    </ul>
  </section>
  
  <!-- SIDEBAR -->
  
  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i (click)="addToggle()" class='bx bx-menu bx-sm bx-blue'></i>
      <a href="#" class="nav-link">Catégories</a>
      <form action="#">
        <div class="form-input">
          <input type="search" placeholder="Search...">
          <button type="button" class="search-btn"><i class='bx bx-search bx-sm bx-blue'></i></button>
        </div>
      </form>
      <a href="#" class="notification">
        <i class='bx bxs-bell bx-sm bx-blue'></i>
        <span class="num">8</span>
      </a>
      <a href="#" class="profile">
        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
      </a>
    </nav>
    <main>
      <div class="head-title">
        <div class="left">
          <h1>ADMIN DASHBOARD</h1>
          <ul class="breadcrumb">
            <li>
              <a href="#">LE PARISIEN</a>
            </li>
            <li><i class='bx bx-chevron-right bx-sm bx-blue'></i></li>
            <li>
              <a class="active" href="#">HOME</a>
            </li>
          </ul>
        </div>
        <a href="" class="btn-download">
          <i class='bx bxs-cloud-upload bx-sm bx-blue'></i>
          <span class="text">Add a Manager</span>
        </a>
      </div>
  
      <ul class="box-info">
        <li>
          <i class='bx bxs-calendar-check bx-sm bx-blue'></i>
          <span class="text">
            <h3>100</h3>
            <p>Clients</p>
          </span>
        </li>
        <li>
          <i class='bx bxs-cart-add bx-sm bx-blue'></i>
          <span class="text">
            <h3>134</h3>
            <p>Orders</p>
          </span>
        </li>
        <li>
          <i class='bx bxs-user-detail bx-sm bx-blue'></i>
          <span class="text">
            <h3>4</h3>
            <p>Admins</p>
          </span>
        </li>
      </ul>
      <section class="bg-1100">
        <div class="container">
          <div class="row py-8 py-md-10 py-lg-11">
            <app-user-details></app-user-details>
          </div>
        </div>
      </section>
  
      <button class="btn scroll-to-top text-white rounded-circle d-flex justify-content-center align-items-center bg-primary" data-scroll-top="data-scroll-top">
        <span class="uil uil-angle-up"></span>
      </button>
    </main>
    <!--<app-footer></app-footer> -->
  </section>
  