
    <main>
      <div class="head-title">
        <div class="left">
          <h1>ADMIN DASHBOARD</h1>
          <ul class="breadcrumb">
            <li>
              <a href="#">LE PARISIEN</a>
            </li>
            <li><i class='bx bx-chevron-right bx-sm bx-blue'></i></li>
            <li>
              <a class="active" href="#">HOME</a>
            </li>
          </ul>
        </div>
        <a routerLink="/sidebar/admin-detail" class="btn-download">
          <i class='bx bxs-cloud-upload bx-sm bx-blue'></i>
          <span class="text">Add a Manager</span>
        </a>
      </div>
  
      <ul class="box-info">
        <li>
          <i class='bx bxs-calendar-check bx-sm bx-blue'></i>
          <span class="text">
            <h3>100</h3>
            <p>Clients</p>
          </span>
        </li>
        <li>
          <i class='bx bxs-cart-add bx-sm bx-blue'></i>
          <span class="text">
            <h3>134</h3>
            <p>Orders</p>
          </span>
        </li>
        <li>
          <i class='bx bxs-user-detail bx-sm bx-blue'></i>
          <span class="text">
            <h3>4</h3>
            <p>Admins</p>
          </span>
        </li>
      </ul>
      <section class="bg-1100">
        <div class="container">
          <div class="row py-8 py-md-10 py-lg-11">
            <app-user-details></app-user-details>
          </div>
        </div>
      </section>
  
      <button class="btn scroll-to-top text-white rounded-circle d-flex justify-content-center align-items-center bg-primary" data-scroll-top="data-scroll-top">
        <span class="uil uil-angle-up"></span>
      </button>
    </main>
  